.card {
  background-color: darkslategray;
  color: white;
  width: 140px;
  height: 120px;
  margin: 10px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.card-up {
  background-color: white;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  object-fit: cover;

}

.card-up img {
  width: 140px;
  height: 125px;
  object-fit: cover;
  border-radius: 5px;
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
}