.footer {
  text-align: center;
  font-size: 12px;
  padding: 5px;
  bottom: 0;
  left: 0;
  position: fixed;
  margin: 0;
  margin-bottom: 0;
}

.footer a {
  color: gray;
  text-decoration: underline;
}